<script type="text/javascript" src="agentes/audioControl.js"></script>

<div class="conteudo">
    
</div>

<div class="acoes">
    <audio controls autoplay hidden id="Audio1">
        <!--<source src="assets/aula/arkanoid/audio/1.mp3" type="audio/mp3" />-->
    </audio>
</div>

<div class="conteudoTexto">
  
</div>

<script>
	document.getElementsByClassName("conteudo")[0].innerHTML = titulo_conteudo+"</br>";
	document.getElementsByClassName("conteudoTexto")[0].innerHTML = montarSumarioSecundario();	
</script>